.page_content {
    margin-top: 80px;
}

footer {
    background-color: #373e40;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ffffff;
    height: 60px;
    text-align: center;
    width: 100%;
    overflow: hidden;
}